.btn {
    cursor: pointer;
}

.login-form-container {
    margin-top: 100px;
    max-width: 500px;
}

.nav-item.active {
    background-color: #b9433f;
}

.nav-item:hover {
    background-color: #c9433f;
}

.nav-item a {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.map {
    width:  100%;
    height: 400px;
}


@media only screen and (min-width: 768px){
    .nav-height {
        height: 70px;
    }

    .padding-0 {
        padding: 0;
    }

    .nav-item {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar-brand {
        margin-left:  10px;
    }
}
